<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>admin login</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1">
  <tr>
    <th scope="row">Username</th>
    <td>
      <label for="admin_name"></label>
      <input type="text" name="admin_name" id="admin_name" />
    </td>
  </tr>
  <tr>
    <th scope="row">Password</th>
    <td>
        <label for="admin_password"></label>
        <input type="password" name="admin_password" id="admin_password" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="admin_login" id="admin_login" value="login" /><br>
        <a href="/changepass">Forgot password</a>
    </th>
  </tr>
</table>
    </form>
</body>
</html>
