<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Film Report</title>
</head>

<body>
<form action="GET">
<table width="200" border="1">
  <tr>
    <th scope="col">Serial No</th>
    <th scope="col">User Name</th>
    <th scope="col">Reported Movie Id</th>
    <th scope="col">Date</th>
    <th scope="col">Action</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>{{i.user_name  }}</td>
    <td>{{ i.reported_movie_id }}&nbsp;</td>
    <td>{{ i.date }}&nbsp;</td>
      <td><a href="/delete/{{ i.film_report_id }}">delete</a> </td>



{#    <td><a href="#">Report</a></td>#}
  </tr>
{% endfor %}
</table>
</form>
</body>
</html>
