<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Movie Promo</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row">Name</th>
    <td><form id="form1" name="form1" method="post" action="">
      <label for="promo_name"></label>
      <input type="text" name="promo_name" id="promo_name" />
    </form></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><form id="form2" name="form2" method="post" action="">
      <label for="promo_desc"></label>
      <textarea name="promo_desc" id="promo_desc" cols="45" rows="5"></textarea>
    </form></td>
  </tr>
  <tr>
    <th scope="row">Poster</th>
    <td><form id="form3" name="form3" enctype="multipart/form-data" method="post" action="">
      <label for="promo_poster"></label>
      <input type="file" name="promo_poster" id="promo_poster" />
    </form></td>
  </tr>
  <tr>
    <th scope="row">Banner</th>
    <td><form id="form4" name="form4" enctype="multipart/form-data" method="post" action="">
      <label for="promo_banner"></label>
      <input type="file" name="promo_banner" id="promo_banner" />
    </form></td>
  </tr>
  <tr>
    <th scope="row">Video</th>
    <td><form id="form5" name="form5" enctype="multipart/form-data" method="post" action="">
      <label for="promo_video"></label>
      <input type="file" name="promo_video" id="promo_video" />
    </form></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><form id="form6" name="form6" method="post" action="">
      <input type="submit" name="promo_submit" id="promo_submit" value="Submit" />
    </form></th>
  </tr>
</table>
</body>
</html>
