<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add movie</title>
</head>

<body>
<form action="" method="POST" action="/addmovie">
<table width="200" border="1">
  <tr>
    <th scope="row"><label>Movie</label>&nbsp;</th>
    <td>
      <label for="file"></label>
      <input type="file" name="file" id="file" />
    </td>
  </tr>
  <tr>
    <th scope="row"><label>Movie name</label>&nbsp;</th>
    <td>
      <label for="movie name"></label>
      <input type="text" name="movie name" id="movie name" />
    </td>
  </tr>
  <tr>
    <th height="27" scope="row"><label>Description</label>&nbsp;</th>
    <td>
      <label for="description"></label>
      <textarea name="description" id="description" cols="45" rows="5"></textarea>
  </td>
  </tr>
      <th height="27" scope="row"><label>banner</label>&nbsp;</th>
    <td>
      <label for="banner"></label>
      <input type="file" name="banner" id="banner" />
  </td>
  </tr>
  <th height="27" scope="row"><label>poster</label>&nbsp;</th>
    <td>
      <label for="poster"></label>
      <input type="file" name="poster" id="poster" />
  </td>
  </tr>
  <tr>
    <th scope="row"><label>Director name</label>&nbsp;</th>
    <td>
      <label for="director_name"></label>
      <input type="text" name="director_name" id="director_name" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="add" id="add" value="Add" />
   </th>
  </tr>
</table>
</form>
</body>
</html>
