<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row">Creator</th>
  </tr>
  <tr>
    <th scope="row"><a href="/addmovpromoreq">promo request</a></th>
  </tr>
        <tr>
    <th scope="row"><a href="/viewmovie">View movies</a></th>
  </tr>
     <tr>
    <th scope="row"><a href="/viewfollowers">View Followers</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/viewothercreator">View Other creator</a></th>
  </tr>
     <tr>
    <th scope="row"><a href="/viewplaylist">View Playlist</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewhiringandapply">Hiring</a></th>
  </tr>

   <tr>
    <th scope="row"><a href="/sendfeedback">Send feedback</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewfeedback">view feedback</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/creatorbug">Report a bug</a></th>
  </tr>
{#      <tr>#}
{#    <th scope="row"><a href="/viewrating">rating</a></th>#}
{#  </tr>#}




    <tr>
    <th scope="row"><a href="/viewbugreply">View Bug Reply</a></th>
  </tr>

    </table>
</body>
</html>
