<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><label>Serial No</label>&nbsp;</th>
    <td><label>Movie</label>&nbsp;</td>
    <td><label>Movie name</label>&nbsp;</td>
    <td><label>Director name</label>&nbsp;</td>
    <td><label>Description</label>&nbsp;</td>
    <td>&nbsp;</td>
    <td><label></label>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Delete</a>&nbsp;</td>
    <td><a href="#">View rate</a>
    <a href="#">View comment</a>&nbsp;</td>
    <td><a href="#">Add promo request</a><a href="#">View promo request</a>&nbsp;</td>
  </tr>
</table>

</body>
</html>
