<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row">Serial No&nbsp;</th>
    <td>Creator Name</td>
    <td>Photo&nbsp;</td>
    <!--<td>Email&nbsp;</td>-->
    <!--<td>Phone No&nbsp;</td>-->

  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>{{ i.name }}&nbsp;</td>
    <td>&nbsp;{{ i.photo }}</td>
    <!--<td>{{ i.email }}&nbsp;</td>-->
    <!--<td>{{ i.phone_no }}</td>-->
      {% if i.status == 'followed' %}
          <td><a href="/unfollow/{{ i.creator_id }}">unfollow</a>&nbsp;</td>
            {% else %}
    <td><a href="/follow/{{ i.creator_id }}">Follow</a>&nbsp;</td>
      {% endif %}
    <td><a href="viewcrmov">View Movies</a>&nbsp;</td>

  </tr>
    {% endfor %}
</table>
</body>
</html>
