<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><label>Serial No</label>&nbsp;</th>
    <td><label>Movie</label>&nbsp;</td>
    <td><label>Movie name</label>&nbsp;</td>
    <td><label>Director name</label>&nbsp;</td>
    <td><label>Description</label>&nbsp;</td>
    <td>&nbsp;</td>


  </tr>
    {% for i in data %}
  <tr>

    <td>{{ loop.index }}&nbsp;</td>
    <td>&nbsp;{{ i.movie }}</td>
    <td>{{ i.movie_name }}</td>
    <td>{{ i.director_name }}&nbsp;</td>
    <td>{{ i.description }}</td>
    <td><a href="/viewrating/{{ i.movie_id }}">View rate</a>
    <a href="/viewcomment/{{ i.movie_id }}">View comment</a>&nbsp;
        <a href="/addtoplaylist/{{ i.movie_id }}">Add to playlist</a>&nbsp;

    </td>
{#    <td><a href="/addmovpromoreq/{{ i.movie_id }}">Add promo request</a> <a href="#">View promo request</a>&nbsp;</td>#}
  </tr>
  {% endfor %}
</table>

</body>
</html>
