<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><label>Serial No</label>&nbsp;</th>
    <td><label>Date</label>&nbsp;</td>
    <td><label>Promo video</label>&nbsp;</td>
  </tr>
     {% for i in data %}
  <tr>
    <th scope="row">&nbsp;</th>
    <td>{{ loop.index }}&nbsp;</td>
    <td>{{ i.date }}&nbsp;</td>
    <td>{{ i.video }}&nbsp;</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
