<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">Serial no</th>
    <th scope="col">Username</th>
    <th scope="col">Subject</th>
    <th scope="col">Discription</th>
    <th scope="col">action</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.subject }}</td>
    <td>&nbsp;{{ i.hiring_description }}</td>
      {% if i.type=='creator' %}
           <td>Applied</td>

        {% else %}
            <td><a href="/hiring_app/{{ i.hiring_id }}">Apply</a></td>
  {% endif %}
  </tr>
    {% endfor %}
</table>
<a href="/hiring">add hirring</a>

</body>
</html>
