<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">Serial no</th>
    <th scope="col">Date</th>
    <th scope="col">Heading</th>
    <th scope="col">Description</th>
    <th scope="col">Reply date</th>
    <th scope="col">Reply</th>
    
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.heading }}</td>
    <td>{{ i.description }}&nbsp;</td>
    <td>{{ i.reply_date }}&nbsp;</td>
    <td>{{ i.reply }}&nbsp;</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
