<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="1">
  <tr>
    <th scope="row">Serial No</th>
    <td>Movie</td>
    <td>Movie Name</td>
    <td>Director Name</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;</th>
    <td>{{ loop.index }}&nbsp;</td>
    <td>{{ i.movie }}&nbsp;</td>
    <td>{{ i.movie_name }}&nbsp;</td>
    <td>{{ i.director_name }}</td>
    <td><a href="#">Rate</a>&nbsp;</td>
    <td><a href="#">Comment</a>&nbsp;</td>
    <td><a href="#">Share</a>&nbsp;</td>
    <td><a href="#">Delete</a>&nbsp;</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
