<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><label>Serial No</label>&nbsp;</th>
    <td><label>Creator Name</label>&nbsp;</td>
    <td><label>Photo</label>&nbsp;</td>
    <td>Email&nbsp;</td>
    <td>Phone No&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;</th>
    <td>&nbsp;{{ loop.index }}</td>
    <td>{{ i.creator_name }}&nbsp;</td>
    <td>&nbsp;{{ i.photo }}</td>
    <td>{{ i.email }}&nbsp;</td>
    <td>{{ i.phone_no }}</td>
    <td><a href="#">Follow</a>&nbsp;</td>
    <td><a href="#">View Movies</a>&nbsp;</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
